<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.feizi.dao.PictureDao">
    <resultMap id="picture" type="com.feizi.domain.Picture">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="pic_name" property="picName"/>
        <result column="pic_type" property="picType"/>
        <result column="pic_url" property="picUrl"/>
        <result column="pic_details" property="picDetails"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <parameterMap id="pic" type="com.feizi.domain.Picture"/>
    
    <sql id="Base_Column_List">
        id, user_id, pic_name, pic_type, pic_details, create_time
    </sql>

    <insert id="insertPicture" parameterType="com.feizi.domain.Picture">
        INSERT INTO picture(user_id, pic_name, pic_type, pic_url, pic_details, create_time)
        VALUES (#{userId}, #{picName}, #{picType}, #{picUrl}, #{picDetails}, #{createTime})
    </insert>

    <select id="findPicturebyId" resultMap="picture" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM picture
        WHERE id = #{id}
    </select>
</mapper>